bleach
certifi
charset-normalizer
contourpy
cycler
filelock
fonttools
fsspec
idna
imageio
Jinja2
joblib
kaggle
kiwisolver
lazy_loader
MarkupSafe
matplotlib
mpmath
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
pillow
pyparsing
python-dateutil
python-slugify
rarfile
requests
scikit-image
scikit-learn
scipy
six
sympy
text-unidecode
threadpoolctl
tifffile
torch
torchvision
tqdm
triton
typing_extensions
urllib3
webencodings
